 #parent {position: relative}
 .center{
          margin: auto;
      }
.center {
    
            position: absolute; 
            top: 50%; 
            left: 50%; 
            
            transform: translate(-50%, -50%); 
            
            height: 400px;
            width: 100%; 
            border-radius: 0px 0px 500px 500px; 
            background-color: #B9E3FF;
            animation: fade 3s
}
@keyframes pulse{
    0% {background-color:#FCEEF2} 
    100% {background-color:#B9E3FF}
}
h1{
    
    position: absolute;
    bottom : 50px;
    right: 40%;
    color: #393749;
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
    animation: fade 3s
    
}

p{
    color:#393749;
    font-size: 18px;
    animation: fade 3s;
}
@keyframes fade{
    0% {background-color:#FCEEF2;}
    100%{background-color: #B9E3FF;}
}
/*
.main{
background-color: white;
width: 730px;
height: 1050px;
position: absolute;
top: 145px; 
animation: fade 3s;
}
*/
